.education {
  .schools {
    margin-bottom: 30px;
  }

  .school {
    margin-bottom: 25px;

    &__degree {
      font-weight: 700;
      margin-bottom: 10px;
    }

    .time-place {
      display: flex;
      justify-content: space-between;

      @include mobile {
        display: block;
      }
    }

    &__name {
      font-size: 0.9rem;
      font-weight: 700;
    }

    &__period {
      font-size: 0.9rem;
      font-family: 'Inconsolata', monospace;

      @include mobile {
        font-size: 0.8rem;
      }
    }

    ul {
      padding-left: 20px;
      list-style: disc;

      li {
        font-size: 0.9rem;
        margin-bottom: 5px;
      }
    }
  }

  .arrow-link {
    font-size: 1.25rem;

    &:after {
      width: 20px;
      height: 20px;
    }
  }
}