.education {

  .school {
    margin-bottom: 25px;

    &__degree {
      font-weight: 700;
    }

    .time-place {
      display: flex;
      justify-content: space-between;

      @include mobile {
        display: block;
      }
    }

    &__name {
      font-size: 0.9rem;
      font-family: 'Inconsolata', monospace;
      color: $blue;
    }

    &__period {
      font-size: 0.9rem;
      font-family: 'Inconsolata', monospace;

      @include mobile {
        font-size: 0.8rem;
      }
    }

    .details {
      list-style: disc;
      padding-left: 20px;

      .detail {
        font-size: 0.9rem;
      }
    }
  }

  .arrow-link {
    font-size: 1rem;

    &:after {
      width: 18px;
      height: 18px;
    }
  }
}