<header class="intro">
  <div class="intro__wrapper">
    <img class="intro__photo" src="img/profile.jpg" alt="Profile Photo">

    <div class="intro__text">
      <h3 class="intro__hello">Hello!
        <span class="emoji wave-hand animated"></span>
      </h3>

      <h3 class="intro__tagline">
        I'm <span class="name">Chaeyeon (Daphne) Lim</span>, a master’s student at the
        <a href="https://sites.google.com/view/gist-hcis-lab/home" target="_blank">Human-Computer Interaction Systems
          (HCIS) Lab</a> at <a href="https://www.gist.ac.kr/en/main.html" target="_blank">Gwangju Institute of Science
          and Technology (GIST)</a>.
      </h3>

      <h3 class="intro__tagline">
        My research explores how systems can <strong>support children’s engagement, understanding, and behavior</strong> 
        in real-world contexts. Taking a child-centered perspective, I design and study interaction approaches 
        that help users make sense of situations, stay engaged, and act appropriately.
      </h3>

      <h3 class="intro__tagline">
        My work combines <strong>Human-Computer Interaction (HCI)</strong>, <strong>Child-Computer Interaction (CCI)</strong> and <strong>Affective Computing</strong>,
        with a focus on designing systems that respond to user states and provide
        <strong>context-aware support</strong>. 
        I aim to develop <strong>practical and deployable technologies</strong>
        that meaningfully assist users in everyday situations. <span class="emoji technologist"></span>
      </h3>

      <h3 class="intro__contact" style="margin-bottom: 0px;">
        <span>Get in touch!</span><span class="emoji pointer"></span>
        <span>
          <a href="mailto:chaeyeon@gm.gist.ac.kr" target="_blank" class="highlight-link">chaeyeon@gm.gist.ac.kr</a>
        </span>
      </h3>
    </div>
  </div>
</header>