<header class="intro">
  <div class="intro__wrapper">
    <img class="intro__photo" src="img/profile.jpg" alt="Profile Photo">

    <div class="intro__text">
      <h3 class="intro__hello">Hello!
        <span class="emoji wave-hand animated"></span>
      </h3>

      <h3 class="intro__tagline">
        I'm <span class="name">Chaeyeon Lim</span>, a master’s student at the
        <a href="https://sites.google.com/view/gist-hcis-lab/home" target="_blank">Human-Computer Interaction Systems
          (HCIS) Lab</a> at <a href="https://www.gist.ac.kr/en/main.html" target="_blank">Gwangju Institute of Science
          and Technology (GIST)</a>.
        I explore <strong>how interactive systems can support emotional well-being, engagement, and everyday
          joy</strong>—especially for children with diverse needs.
      </h3>

      <h3 class="intro__tagline">
        My work combines <strong>HCI</strong>, <strong>HAI</strong>, and <strong>affective computing</strong> with
        sensing-based interfaces that recognize user states and foster playful, meaningful interaction.
      </h3>

      <h3 class="intro__tagline">
        I'm also interested in <strong>spatial technologies</strong> that quietly enhance quality of life in homes,
        schools, and everyday spaces.
        My long-term goal is to design <strong>healing-centered, accessible technologies</strong> that naturally support
        rest and connection. <span class="emoji technologist"></span>
      </h3>

      <h3 class="intro__contact" style="margin-bottom: 0px;">
        <span>Get in touch </span>
        <span>
          <a href="mailto:chaeyeon@gm.gist.ac.kr" target="_blank" class="highlight-link">chaeyeon@gm.gist.ac.kr</a>
        </span>
      </h3>
    </div>
  </div>
</header>