<header class="intro">
  <h3 class="intro__hello">Hello!
    <span class="emoji wave-hand animated"></span>
  </h3>

  <h3 class="intro__tagline">My name is 
    <span class="name">Chaeyeon Lim</span>, a M.S. student at the 
    <a href="https://sites.google.com/view/gist-hcis-lab/home" target="_blank">Human-Computer Interaction Systems (HCIS) Lab</a> of Gwangju Institute of Science and Technology (GIST) focused on building beautiful interfaces &amp; experiences
    <span class="emoji technologist"></span>
  </h3>

  <h3 class="intro__contact">
    <span>Get in touch </span>
    <span class="emoji pointer"></span>
    <span>
      <a href="mailto:chaeyeon@gm.gist.ac.kr" target="_blank" class="highlight-link">chaeyeon@gm.gist.ac.kr</a>
    </span>
  </h3>
</header>
